*{
    font-weight: 400!important;
}
.full-page-height{
    min-height: 100vh;
    height: 100vh;
}

.cover{
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    letter-spacing: 1px;
}
.cover * {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.no-decoration{
    text-decoration: none!important;
}

.nav-pills li{
    letter-spacing: 1px;
}
.px-six-rem{
    padding-right: 6rem;
    padding-left: 6rem;
}
.pt-eight-rem{
    padding-top: 8rem;
}

.knoss-light{
    color: #56b4b0;
}

.knoss-dark{
    color:#44928f;
}

.knoss-dark:hover{
    color:#56b4b0;
}

.knoss-bg-light{
    background-color:#56b4b0;;
}
.knoss-bg-light:hover{
    background-color:#44928f;
}

.knoss-bg-dark{
    background-color:#44928f;
    box-shadow:   0 .1rem .15rem rgba(255,255,255, .025);
}

.knoss-bg-dark:hover{
    background-color:#56b4b0;
    box-shadow:   0 .125rem .25rem rgba(255,255,255, .075);
}

.text-justify{
    text-align: justify;
}

.knoss-about-logo{
    border-radius: 2px;
}

.cooperation-logo{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.cooperation-logo:hover{
    transform: scale(1.05);
    transition: .3s!important;

}

.smart-scroll{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }


.bg-gradient{
    background: rgb(86,180,176);
}
.bg-gradient div h4{
    font-weight: 300;
}

.card div h4{
    letter-spacing: 1px;
}
.contact-row h4 p{
    font-weight: 300;
}

.contact-box{
    box-shadow: 0 .1rem .15rem rgba(0, 0, 0, 0.25)
}

.white-h{
    color:white;
    transition: 0.2s;
}
.white-h:hover{
    color: rgba(255,255,255, 0.65);
    transition: 0.2s;
}

.tr-2{
    transition: 0.2s!important;
}

.tr-2:hover{
    transition: 0.2s!important;
}

.light-gray{
    color: rgb(200,200,200)!important;
}

.link-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #44928f;
    transition: width .3s;
}

.link-hover:hover::after {
    width: 100%;
}

/* Sroll above section to avoid header overlay */
#about:before{
    padding-top:7git0px;display:block;content:"";
}

#services:before{
    padding-top:70px;display:block;content:"";
}

#gallery:before{
    padding-top:60px;display:block;content:"";
}


.btn-no-style {
    padding: 0 !important;
    margin: 0!important;
    text-decoration: none!important;
    border: none!important;
    width: 100%!important;
    height: 100%!important;
    border-radius: 1rem;
}

.btn-no-style:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.25)!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
    transition: .3s!important;
    transform: scale(1.02);
}

.image-modal{
    background-size: cover;
}

.modal-body{
    padding: 0 0 0.5rem 0!important;
}

.modal-body img{
    height: 100%;
    width: 100%;
}

.modal-dialog{
    margin-top: 0;
}

.mxh-4{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.pxh-5, pxhplus-5{
    padding-left: 3rem;
    padding-right: 3rem;
}


@media (min-width: 992px){
    #about div {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
}

@media (min-width: 768px){
    #about div {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    #services, #gallery, #contact{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;}
    
}

@media (min-width: 576px){
    #about div {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    #services, #gallery, #contact{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    
}

@media (max-width: 576px){
    footer .nav{
        justify-content: center!important;
    }

    .mxh-4{
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .pxh-5{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .pxhplus-5{
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important;
    }

    .nav-pills{
        justify-content: center!important;
    }

    .pt-eight-rem{
        padding-top: 7rem;
    }

    .my-5{
        margin-bottom: 0.5rem!important;
    }

    .py-5{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    .main-leading{
        text-align: center!important;
        line-height: 1.2rem!important;
        font-size: 3rem!important;
    }
    .feature{
        text-align: center!important;
    }


    .px-5{
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .cooperation-logo{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    h2, h1{
        text-align: center!important;
    }

    .m-leading-wrapper{
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }
    

}

@media screen and (max-height: 750px )
                and (min-width: 1000px ){
    .main-leading{
        font-size: 4rem!important;
        width: 60vw!important;
    }
}

.font-italic{
    font-style: italic!important;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2c4444;
    
}

#cooperation > h2{
    margin-bottom: 0!important;
}

.main-leading{
    line-height: 1.05!important;
}

.h-88{
    height: 88%;
}

.hh-92{
    height: 92vh;
}

.services-to-offer > div > p{
    min-height: 85px;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.services-button{
    width: 200px!important;
}
.services-button > p{
    margin: 0 0 0 0.25rem!important;
}

.pl-0{
    padding-left: 0!important;
}

.pr-0{
    padding-right: 0!important;
}

.pt-h{
    padding-top: 164px!important;
}