.full-page-height{
    min-height: 100vh;
    height: 100vh;
}

.cover{
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    letter-spacing: 1px;
}
.cover * {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.no-decoration{
    text-decoration: none!important;
}

.nav-pills li{
    letter-spacing: 1px;
}
.px-six-rem{
    padding-right: 6rem;
    padding-left: 6rem;
}
.pt-eight-rem{
    padding-top: 8rem;
}

.knoss-light{
    color: #56b4b0;
}

.knoss-dark{
    color:#44928f;
}

.knoss-dark:hover{
    color:#56b4b0;
}

.knoss-bg-light{
    background-color:#56b4b0;;
}
.knoss-bg-light:hover{
    background-color:#44928f;
}

.knoss-bg-dark{
    background-color:#44928f;
    box-shadow:   0 .1rem .15rem rgba(255,255,255, .025);
}

.knoss-bg-dark:hover{
    background-color:#56b4b0;
    box-shadow:   0 .125rem .25rem rgba(255,255,255, .075);
}

.text-justify{
    text-align: justify;
}

.knoss-about-logo{
    border-radius: 8px;
}

.cooperation-logo{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.cooperation-logo:hover{
    transform: scale(1.05);
    transition: .3s!important;

}

.smart-scroll{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }


.bg-gradient{
    background: rgb(86,180,176);
}
.bg-gradient div h4{
    font-weight: 300;
}

.card div h4{
    letter-spacing: 1px;
}
.contact-row h4 p{
    font-weight: 300;
}

.contact-box{
    box-shadow: 0 .1rem .15rem rgba(0, 0, 0, 0.25)
}

.white-h{
    color:white;
    transition: 0.2s;
}
.white-h:hover{
    color: rgba(255,255,255, 0.65);
    transition: 0.2s;
}

.tr-2{
    transition: 0.2s!important;
}

.tr-2:hover{
    transition: 0.2s!important;
}

.light-gray{
    color: rgb(200,200,200)!important;
}

.link-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #44928f;
    transition: width .3s;
}

.link-hover:hover::after {
    width: 100%;
}

/* Sroll above section to avoid header overlay */
#services:before{
    padding-top:50px;display:block;content:"";
    }